.stripe-button {
    background: #5469d4;
    color: white;
    font-family: Arial, sans-serif;
    border-radius: 0 0 4px 4px;
    border-radius: 2px;
    padding: 12px 16px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

a {
    text-decoration: none;
}


.stripe-button:hover {
    background: #5469d4;
    color: white;
    text-decoration: none;
}